/FalseDiscoveryRate.class
/InputPreProcessRidge.class
/MatrixOperations.class
/ProgressBarAdaptorRidge.class
/RidgeAlgorithm.class
/RidgeLambdaFinder.class
/RidgeRegression.class
/RidgeRegressionNoGUI.class
/RidgeSparseVar.class
/RidgeStat.class
