/IBin.class
/IDesktop$1.class
/IDesktop$2.class
/IDesktop$MyMouseAdapter.class
/IDesktop$MyMouseMotionListener.class
/IDesktop.class
/IElement$MyMouseAdapter.class
/IElement$MyMouseMotionListener.class
/IElement.class
/IFolder.class
